

.title {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;

}

.asterisk {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #FF0000;
}

.inputTitle {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    padding: 10px 16px;
    height: 30px;
    background: #fff;
    width: 93%;
    font-size: 18px;
}

.inputTitle::placeholder {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;

    color: #9B959F;
}

.addPriority {
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    padding: 5px 10px;
    height: 31px;
    margin-left:5px;

    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

    color: #767575;

    background-color: transparent;

    &:hover{
        

        background: #eeecec;
    }


}

.addPriorityColor {
    border-radius: 8px;
    border: solid transparent;
    padding: 5px 10px;
    background: #eeecec;

    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

    color: #767575;
    margin-left:5px;


}



.checklist {
    overflow-y: scroll;
    height: 223px;
}




.button1 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

    color: #707070;


    width: 185px;
    height: 45px;

    box-shadow: 0 2px 12px 0 rgba(130, 105, 140, 0.2);

    border: 1px solid #e2e2e2;
    border-radius: 12px;
    width: 185px;
    height: 45px;

    background-color: transparent;
    position: relative;
    left:-15px;
}

.dateDiv{
    position: absolute;
    left:40px;
   }


.cancel {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

    color: #CF3636;

    width: 162px;
    height: 45px;

    box-shadow: 0 2px 12px 0 rgba(130, 105, 140, 0.2);

    border: 1px solid #cf3636;
    border-radius: 12px;
    width: 162px;
    height: 45px;

    background-color: transparent;
}

.save {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

    color: #FFFFFF;

    border-radius: 12px;
    width: 162px;
    height: 45px;

    background: #17a2b8;
    border-color: transparent;
}




/* css for the dropdown select */

/* .selectInput{
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    padding: 10px 16px;
    height: 44px;
    background: #fff;
    width: 87%;
    font-size: 15px;
    margin-left:5px;
    color: #494949;
}


.selectInput option[value=""]
{
   color: #9B959F;
}

.selectInput option{

color:rgb(17, 17, 17)
} */






