.card {
    border-radius: 20px;
    width: 295px;
    height: auto;

    background: #fff;

    padding: 5% 5% 5% 5%;

    flex-shrink: 0;

    word-wrap: break-word;
}

.priorityText {
    font-family: Poppins;
    font-size: 8px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #707070;
    position: relative;
    top: center;
}

.cardTitle {
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;

}

.checklist {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

}

.hideBut {
    /* background-color: white; */
    background-image: url('../../../Assets/hideBut.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-color: transparent;
   
}

.showBut {
    /* background-color: transparent; */
    background-image: url('../../../Assets/showBut.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-color: transparent;
    border-radius: 2px;
}

.cardFooter {
    display: flex;
    
 
}

.butFooter {
    font-family: Poppins;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #767575;
    border-radius: 8px;
    padding: 5px 10px;
    background: #eeecec;
    cursor: pointer;
    margin-left:5px;
    display: flex;
 
    &:hover{
        background-color: #f7f1f1;
    }
}

.butFooterDate {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    color: #767575;
    border-radius: 8px;
    display: inline;
    padding: 5px 10px;
    background: #eeecec;

  

}

.butFooterDatePassed {
    background: #cf3636;
    border-radius: 8px;
    padding: 5px 10px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    &:hover{
        background-color: #eb3737;
    }
}


.butFooterDateGreen {

    border-radius: 8px;
    padding: 5px 10px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    background: #63c05b;
    &:hover{
        background-color: hsl(119, 100%, 26%);
    }
}

.dropDown {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 0;
    top: 30px;
}

.dropDownBut {
    font-family: Poppins;
    font-size: 19px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

}

.dropDownButDel {
    font-family: Poppins;
    font-size: 19px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #CF3636;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}


.threeDots{

position: absolute;
right: 2px;
padding-top: 11px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 7px;
cursor:pointer

}




.logoutText {
    font-family: 'Open Sans';
    font-size: 21px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
}

.yesLogout {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

    color: #FFFFFF;
    border-radius: 12px;
    padding: 5px 15px;
    width: 300px;
    height: 40px;

    box-shadow: 0 2px 12px 0 rgba(130, 105, 140, 0.2);
    background: #17a2b8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.yesLogout:hover {
    background-color: #21aec4;
    transform: scale(0.95);
}

.cancel {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0px 15px;
    color: #CF3636;

    border: 1px solid #cf3636;
    border-radius: 12px;
    width: 300px;
    height: 45px;

    box-shadow: 0 2px 12px 0 rgba(130, 105, 140, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.cancel:hover {
    background-color: #ffffff;
    transform: scale(0.95);
}

.customModal {
    border-radius: 11px;
    background: #fff;
}