.header {
    display: flex;
    width: 100%;
    position: sticky;
}

.headerTitle {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    left: 257px;
    margin-bottom: 15px;
    
}

.headerDate {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #707070;
    position: fixed;
    right: 21px;
}

.headerMenu {
    position: fixed;
    right: 40px;
}

.dropdown select {

    width: 107px;
    
}


.headerTitle2 {
    position: relative;
    left: 257px;
    font-family: Poppins;
    font-size: 26px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;

}

.dropdown {
width: 96px;
height: 24px;
border:none;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;


}



.boardCards {
    width: 81vw;
    height: 85vh;
    display: flex;
    gap: 21px;
   
}

.scroll {
  
    overflow-x: auto;
}

.boardCards_background {
    border-radius: 10px;
    width: 360px;
    height: 81vh;
    background: #eef2f5;
    padding:5px;
    flex-shrink: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
   
}

.boardCards_backgroundTitle {
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.customModal{
    border-radius: 22px;
    background: #fff;
}