

.title {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;

}

.asterisk {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #FF0000;
}

.inputTitle {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    padding: 10px 16px;
    /* width: 588px; */
    height: 44px;
    background: #fff;

    width: 93%;
    font-size: 21px;
}

.inputTitle::placeholder {
    font-family: Inter;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;

    color: #9B959F;
}

.addPriority {
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    padding: 5px 10px;
  
    height: 31px;

    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

    color: #767575;

    background-color: transparent;
    margin-left: 5px;


    
}

.addPriorityColor {
    border-radius: 8px;
    border: solid transparent;
    padding: 5px 10px;
 
    margin-left: 5px;
    background: #eeecec;

    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

    color: #767575;


}


.dropdownContainer{
    background-color: #d7e7fa53;
    padding:5px 40px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    &:hover{
        background-color: #a4caf853;
    }
    
}


.dropdownLabel{
   
    font-weight: 500;
    
}

.dropdownIcon{
    margin-left: 60px;
}

.assignTo{
    margin-right:45px;
}


.selectedEmail p{

    background-color: #e4f4ff;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    

}


.selectedEmailItem{
    background-color: #1985ff53;
}

.clear{
    text-align: center;
    margin-bottom: 10px;
}

.clear button{

    font-family: 'Poppins';
    font-size: 0.9rem;
    padding:7px 10px;
    border:none;
    width:100%;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    color:black;
    background-color: #b6d9ff5c;
    &:hover{
        transform: scale(0.96);
        background-color:#7bb8f953 ;
    }

}

.emailList{
    list-style-type: none;
    position: relative;
    left:-20px;
    overflow: auto;
    max-height: 120px;
    border: 1px solid rgb(207, 206, 206);
    position: relative;
    left:1px;
    padding:10px;
    border-radius: 5px;
    width:300px;
    margin:10px auto;
    position: absolute;
    left:50%;
    transform: translate(-50%);
    z-index: 100;
    background-color: white;
  

}

.emailListItems{
    margin-bottom:10px;
    background-color: #e4eef953;
    border-radius: 15px;
    padding:10px;
    font-size: 1rem;

    &:hover{
        background-color: #a4cfff53;
    }
}


.emailSpan{
    margin-left:10px;
    
}

.nameIcon{

    background: #FFEBEB;
    padding:7px;
    border-radius: 50%;
    font-size: 14px;
    position: relative;
    margin-right:10px ;
}






.checklist {
    overflow-y: scroll;
    height: 223px;
}



.button1 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

    color: #707070;


    width: 185px;
    height: 45px;

    box-shadow: 0 2px 12px 0 rgba(130, 105, 140, 0.2);

    border: 1px solid #e2e2e2;
    border-radius: 12px;
    width: 185px;
    height: 45px;
    position:relative;
    left:-15px;

    background-color: transparent;
    transition:transform 0.1s ease-in-out;


    &:hover{
       transform: scale(0.95);
    }
}

.dateDiv{
    position: absolute;
    left:40px;
}



.cancel {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

    color: #CF3636;

    width: 162px;
    height: 45px;

    box-shadow: 0 2px 12px 0 rgba(130, 105, 140, 0.2);

    border: 1px solid #cf3636;
    border-radius: 12px;
    width: 162px;
    height: 45px;

    background-color: transparent;
    transition:transform 0.1s ease-in-out;


    &:hover{
       transform: scale(0.95);
    }
}

.save {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

    color: #FFFFFF;

    border-radius: 12px;
    width: 162px;
    height: 45px;

    background: #17a2b8;
    border-color: transparent;
    transition:transform 0.1s ease-in-out;


    &:hover{
       transform: scale(0.95);
    }
}